<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- SERVLETS -->
  <!-- Admin -->
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>co.edu.unal.mb.server.AdminServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/mb2/admin</url-pattern>
  </servlet-mapping>
  
  <!-- Register -->
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>co.edu.unal.mb.server.RegisterServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/mb2/register</url-pattern>
  </servlet-mapping>
  
	<!-- Register -->
  <servlet>
    <servlet-name>orderServlet</servlet-name>
    <servlet-class>co.edu.unal.mb.server.OrderServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>orderServlet</servlet-name>
    <url-pattern>/mb2/order</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>co.edu.unal.mb.client.entity.FrameEndpoint</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>